* {
 font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "sans-serif";
}
img {
 width: 100%;
 height: auto;
 max-width: 700px;
}
body {
 margin: 0 auto;
 text-align: left;
}
a:hover {
 text-decoration: underline;
}
.all {
 width: 100%;
 margin: 0 auto;
 overflow: hidden;
}
header {
 background-color: #E1E1E1;
 position: fixed;
 width: 100%;
 z-index: 100;
}
ul#tabMenu {
 list-style-type: none;
 padding-inline-start: 0;
 margin-block-start: 0;
 margin-block-end: 0;
 display: flex;
 width: 700px;
 margin: 0 auto;
}
#tabMenu li {
 width: 25%;
 text-align: center;
 background-color: #E1E1E1;
 padding-top: 2%;
 padding-bottom: 2%;
 opacity: 0.7;
}
#tabMenu li.select {
 background-color: #000;
 color: #fff;
}
#tabMenu li.select a {
 text-decoration: none;
 color: #fff;
}
.tab_page {
 width: 700px;
 margin: 0 auto;
 padding-top: 2%;
}
#tabContents {
 font-size: 15px;
 background-color: #FFF;
 margin-top: 50px;
}
h2 {
 font-size: 30px;
 font-weight: bold;
 border-left: solid 5px #000;
 padding-top: 0.7%;
 padding-left: 2%;
 margin-bottom: 2%;
}
h3 {
 font-size: 20px;
 font-weight: bold;
 border-left: solid 5px #000;
 padding-top: 0.7%;
 padding-left: 2%;
 margin-top: 5%;
 margin-bottom: 2%;
}
.tab_text {
 margin-bottom: 5%;
 font-size: 13px;
 line-height: 20px;
}
#tabContents .trailer {
 display: block;
 width: 400px;
 margin: 0 auto;
 margin-bottom: 5%;
}
.accordion_contents {
 display: none;
}
.accordion_btn::before { /* 閉じている時 */
 content: "＋";
}
.accordion_btn.active::before { /* 開いている時 */
 content: "－";
}
.accordion_btn {
 width: 100%;
 background-color: #000;
 color: #fff;
 padding: 1% 2%;
}
#kasamochi table {
 width: 100%;
 font-size: 13px;
}
#kasamochi table, #kasamochi table tr {
 border-collapse: collapse;
 border: solid 1px #000;
}
#kasamochi table th, #kasamochi table td {
 padding: 1%;
 vertical-align: middle;
}
#kasamochi table th {
 background-color: #000;
 color: #fff;
}
#kasamochi .kasamochi_result .ho {
 width: 20%;
}
#kasamochi .kasamochi_result .result {
 width: 20%;
}
#kasamochi .kasamochi_kp .people {
 width: 20%;
}
#kasamochi .kasamochi_kp .time {
 width: 20%;
}
#kasamochi .kasamochi_pl .ho {
 width: 20%;
}
#kasamochi .kasamochi_pl .pl {
 width: 10%;
}
#kasamochi .kasamochi_pl .kp {
 width: 10%;
}
#kasamochi table tr th.scenario_name {
 width: 60%;
}
#kasa_pc .pc {
 margin: auto;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}
#kasa_pc .pc p, #kasa_pc .pc p a, #kasa_pc .pc img {
 height: 100px;
 width: 100px;
}
#kasa_pc .pc p {
 margin-right: 3px;
 margin-left: 3px;
 margin-top: 10px;
}
#kasa_pc .pc p a {
 display: block;
}
#kasa_pc .pc img {
 object-fit: cover;
 border: solid 1px #000;
}
a img:hover {
 opacity: 0.5;
}
#kasa_pc .pc.lost img {
 filter: grayscale(100%);
}
#kasa_pc .no_image a {
 border: solid #000 1px;
 text-align: center;
 padding-top: 38%;
}
#kasa_pc .no_image a:hover {
 text-decoration: none;
 color: #AAAAAA;
}
#kasamochi a {
 text-decoration: underline;
 color: #1B4DC1;
}
#kasamochi a:hover {
 text-decoration: none;
}
#kasataku table, #kasataku table tr, #kasataku table td, #kasataku table th {
 border: solid 1px #000;
}
#kasataku table {
 width: 80%;
 border-collapse: collapse;
 font-size: 12px;
 margin: 0 auto;
 margin-top: 2%;
 margin-bottom: 3%;
}
#kasataku table th {
 width: 22%;
}
#kasataku table td, #kasataku table th {
 padding: 1%;
 vertical-align: middle;
}
.black {
 color: #fff;
 background-color: #000;
}
/* ボタン全体 */
#page_top {
 width: 50px;
 height: 50px;
 position: fixed;
 right: 10px;
 bottom: 10px;
 background-color: #000000;
 border-radius: 50%;
 opacity: 0.6;
 margin-right: 25.5%;
}
/* Font Awesome */
#page_top::before {
 font-weight: 900;
 content: '▲';
 font-size: 30px;
 color: rgb(255, 255, 255);
 position: absolute;
 width: 30px;
 height: 60px;
 top: 25px;
 bottom: 0;
 right: 0;
 left: 0px;
 margin: auto;
 text-align: center;
}
footer {
 height: 100px;
}
.anchor {
 padding-top: 47px;
 margin-top: -47px
}
#kasataku textarea {
 width: 80%;
 margin: 0 auto;
 display: block;
 border: 1px #ccc solid;
}
@media screen and (max-width:699px) {
 #tabContents {
  margin-top: 15%;
 }
 ul#tabMenu {
  width: 100%;
 }
 .tab_page {
  width: 95%;
 }
 #tabMenu li {
  padding-top: 4%;
  padding-bottom: 4%;
  font-size: 13px;
 }
 h2 {
  font-size: 25px;
 }
 .tab_text {
  font-size: 12px;
  line-height: 20px;
 }
 #tabContents .trailer {
  width: 95%;
 }
 .accordion_btn {
  width: 100%;
 }
 #kasamochi table {
  width: 100%;
  font-size: 11px;
 }
 #kasamochi .kasamochi_result .ho {
  width: 20%;
 }
 #kasamochi .kasamochi_result .result {
  width: 20%;
 }
 #kasamochi .kasamochi_kp .people {
  width: 20%;
 }
 #kasamochi .kasamochi_kp .time {
  width: 20%;
 }
 #kasamochi .kasamochi_pl .ho {
  width: 20%;
 }
 #kasamochi .kasamochi_pl .pl {
  width: 15%;
 }
 #kasamochi .kasamochi_pl .kp {
  width: 16%;
 }
 #kasa_pc .pc p, #kasa_pc .pc p a, #kasa_pc .pc img {
  height: 25vw;
  width: 14vw;
 }
 #kasa_pc .pc {
  width: 91.5vw;
 }
 #kasa_pc .no_image a {
  font-size: 8px;
  line-height: 10px;
 }
 #page_top {
  width: 40px;
  height: 40px;
  margin-right: 0;
 }
 #page_top::before {
  font-size: 25px;
  top: 32px;
 }
 #kasamochi table tr th.scenario_name {
  width: 50%;
 }
 #kasataku table {
  width: 100%;
 }
}
@media screen and (max-width:280px) {
 #kasa_pc .pc p, #kasa_pc .pc p a, #kasa_pc .pc img {
 }
}
#kasa_pc .pc {
}
#kasa_pc .pc p {
 margin-right: 1.5px;
 margin-left: 1.5px;
 margin-top: 5px;
}
/*フィルタのリスト*/
ul.filterBtnList {
 list-style: none;
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-start;
 font-size: 13px;
 line-height: 20px;
 text-align: center;
}
ul.filterBtnList li {
 display: inline-block;
 padding: 3px 5px;
 font-size: 10px;
 border: solid 1px #000;
 cursor: pointer;
 margin: 2px 3px;
 width: auto;
}
ul.filterBtnList li:hover {
 background-color: black;
 color: white;
}
ul.filterBtnList li.active {
 background-color: black;
 color: white;
}
.filterBtnList.filter-more {
 display: none;
 text-align: left;
}
.filter-more-button {
 text-align: right;
}
.filter-more-button::before { /* 閉じている時 */
 content: "more";
}
.filter-more-button.open::before { /* 開いている時 */
 content: "close";
}
ul.filterBtnList.filter-more li {
 margin: 2px 1px;
}
@media screen and (max-width:699px) {
 ul.filterBtnList {
  line-height: inherit;
 }
 .filterBtnList.filter-more {
  width: 94vw;
  margin: 0 auto;
 }
 ul.filterBtnList li {
  margin: 1px;
  padding: 1vw;
 }
 ul.filterBtnList.filter-more li {
  margin: 1vw -1.2px;
 }
}
